<%- include('./header.ejs', {Env: Env}); %>

<body>
    <%- include('./navbar-admin.ejs', {Env: Env,form:form}); %>

<div id="container" class="container">
	<div class="jumbotron">
		<h3>エラーが発生しました</h3>
        <ul>
        <% errors.forEach(function (value, key) { %>
            <li class="text-danger"><%= value %></li>
        <% }); %>
        </ul>
		<div id="navi" class="form-group">
			<a href="#" class="btn btn-info"  role="button" id="backbtn">戻る</a>
		</div>
	</div>	
</div>
<%- include('./footer.ejs'); %>
</body>
</html>